@import url('https://fonts.googleapis.com/css2?family=Comforter&family=Lobster&family=Luckiest+Guy&family=Passion+One:wght@400;700;900&family=Playfair+Display&family=Quintessential&family=Roboto:ital,wght@0,400;1,700&family=Sriracha&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@1,400;1,700&family=Comforter&family=Lobster&family=Luckiest+Guy&family=Passion+One:wght@400;700;900&family=Playfair+Display&family=Quintessential&family=Roboto:ital,wght@0,400;1,700&family=Sriracha&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,400;1,300&family=Alegreya:ital,wght@1,400;1,700&family=Comforter&family=Lobster&family=Luckiest+Guy&family=Passion+One:wght@400;700;900&family=Playfair+Display&family=Quintessential&family=Roboto:ital,wght@0,400;1,700&family=Sriracha&display=swap');

:root{
  --corfundo: #ABC7FF;
  --corfundodestaque: #5686E6;
  --cortitulo: #0B2B6B;
  --corsubtitulo: #7285AB;
  --letranome: Luckiest Guy;
  --letratitulos: Alegreya;
  --letratexto: Alegreya Sans;
}


body{
  height: 100vh;
  margin: 0px;
}

#sociallinks{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content:space-between ;
}


.socialmediaimg{
  width: 48px;
  height: 48px;
}

.medialink{
  border-radius: 60px;
}

a{
  display: flex;
  align-items: center;
}
