@import url('https://fonts.googleapis.com/css2?family=Comforter&family=Lobster&family=Luckiest+Guy&family=Passion+One:wght@400;700;900&family=Playfair+Display&family=Quintessential&family=Roboto:ital,wght@0,400;1,700&family=Sriracha&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@1,400;1,700&family=Comforter&family=Lobster&family=Luckiest+Guy&family=Passion+One:wght@400;700;900&family=Playfair+Display&family=Quintessential&family=Roboto:ital,wght@0,400;1,700&family=Sriracha&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,400;1,300&family=Alegreya:ital,wght@1,400;1,700&family=Comforter&family=Lobster&family=Luckiest+Guy&family=Passion+One:wght@400;700;900&family=Playfair+Display&family=Quintessential&family=Roboto:ital,wght@0,400;1,700&family=Sriracha&display=swap');

:root{
  --corfundo: #ABC7FF;
  --corfundodestaque: #6891e2;
  --cortitulo: #0B2B6B;
  --corsubtitulo: #4d69a1;
  --letranome: Luckiest Guy;
  --letratitulos: Alegreya;
  --letratexto: Alegreya Sans;
}


body,html{
  box-sizing: content-box;
  margin: 0px;
  padding: 0px;
  height: 100vh;
}


body{
  background-color: var(--corfundo);
}


main{
  height: 85vh;
  display: flex;
}

#textsection{
  background-color: white;
  padding: 0px 30px;
  border-radius: 20px;
  margin: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-indent: 16px;
}


#textsection h1{
  color: var(--cortitulo);
  margin-bottom: 6px;
  margin-left: 16px;
  font-family: var(--letratitulos);
  font-size: 28px;
}


#textsection p{
  font-family: var(--letratexto);
  font-size: 17px;
}


#imagesection{
  display: flex;
  align-items: center;
}


#image{
  height: calc(85vh - 32px);
  border-radius: 20px;
  width: calc(40vw - 48px);
  margin-left: 16px;
  margin-right:16px;
}

#footer{
  display: none;
}



@media screen and (max-width:1300px){
  #textsection p{
    font-size: 16px;
  }
}


@media screen and (max-width:1250px){
  #textsection p{
    font-size: 15.5px;
  }
}


@media screen and (max-width:1200px){
  #textsection p{
    font-size: 15px;
  }
}

@media screen and (max-width:1150px){
  #textsection p{
    font-size: 14px;
  }

  #textsection h1{
    font-size: 26px;
  }
}




@media screen and (max-width:1075px){
  #textsection p{
    font-size: 13.5px;
  }

  #textsection h1{
    font-size: 23px;
  }

  #textsection{
    margin-left: 10px;
  }
}


@media screen and (max-width:1025px){
  #textsection p{
    font-size: 13px;
  }

  #textsection h1{
    font-size: 23px;
  }

  #textsection{
    margin-left: 6px;
  }
}


@media screen and (max-width:980px){
  #textsection p{
    font-size: 12.5px;
  }

  #textsection h1{
    font-size: 22px;
  }

  #textsection{
    margin-left: 4px;
  }
}

